<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@await RenderSectionAsync("Head", false)

	@{
		string title = @Document.ContainsKey(Keys.Title) ? $"{Document.GetString(Keys.Title)} - IPA過去問Bot" : "IPA過去問Bot";
	}
	<title>@title</title>
	<link rel="stylesheet" href="https://unpkg.com/mvp.css">
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
	<header>
		<nav>
			<a href="/">
				IPA過去問Bot
			</a>
			@*
				<ul class="nav nav-pills">
				<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Features</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
				<li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
				<li class="nav-item"><a href="#" class="nav-link">About</a></li>
				</ul>
			*@
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<hr>
		<p><a href="https://twitter.com/ipa_kakomon">@@ipa_kakomon</a></p>
	</footer>
	@await RenderSectionAsync("Script", false)
</body>
</html>